.introducao {
    background: #cfc8c3;
}

.hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 72px;
    padding: 80px 0px;
    color: #1d1b19;
}

.imagem-perfil {
    height: 100%;
    grid-row: span 3;
}

.logo-menor {
    width: 10rem;
}

.logo-botao {
    grid-column: 1/3;
    align-self: start;
    display: flex;
    flex-wrap: wrap;
}

.logo-botao img {
    margin-bottom: 14px;
}

.botao {
    padding: 16px 24px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
    color: #cfc8c3;
    background: #1d1b19;
    border-radius: 100px;
    box-sizing: border-box;
}

.botao img {
    margin-bottom: -5px;
    margin-left: 16px;
}

.localidade {
    grid-column: 1;
    align-self: end;
}
.localidade img {
    width: 0.75rem;
    height: 0.8125rem;
}
.introducao-descricao {
    align-self: end;
}

@media (max-width: 900px){
    .hero {
        grid-template-columns: repeat(2, 1fr);
        min-height: 750px;
        gap: 72px 20px;
    }

    .imagem-perfil {
        width: 100%;
        max-height: 650px;
        grid-column:1/-1 ;
        grid-row: 4;
        object-fit: cover;
    } 
}   

@media (max-width: 450px){
    .hero {
        grid-template-columns: 1fr;
        gap: 32px 0px;
    }

    .logo-menor, .hero p , .imagem-perfil, .logo-botao, .localidade,
    .introducao-descricao {
        grid-column: 1;
    }
    .localidade {
        grid-row: 5;
    }
    .imagem-perfil {
        grid-row: 6;
    }
}